@page "/DrugRegistration"
@using WebApplication6.Models
@layout Layout2
<link rel="stylesheet" href="/css/new.css" />
<div class="texth">
    <h1>Employee Details</h1>
</div>

<div class="main-w3layouts-agileinfo11">
    <div class="button">
        <p>
            <NavLink href="/CreateRegistration">New Record</NavLink>
        </p>
    </div>

    <table class="wthree-form">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Password
                </th>
                <th>
                    Confirmpwd
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in EmployeeList)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.Confirmpwd
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        <a href="/Edit/@item.ID">Edit</a> |
                        <a href="/Details/@item.ID">Details</a> |
                        <a href="/Delete/@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    // Assuming you have a property named EmployeeList in the code-behind
    private List<registration> EmployeeList { get; set; } = new List<registration>();
}

