@page "/employes"
@using WebApplication6.Models
@layout Layout2
<link rel="stylesheet" href="/css/new.css" />
<div class="texth">
    <h1>Employee Details</h1>
</div>

<div class="main-w3layouts-agileinfo11">
    <div class="button">
        <p>
            <NavLink href="/Create">New Record</NavLink>
        </p>
    </div>

    <table class="wthree-form">
        <thead>
            <tr>
                <th>
                   Name
                </th>
                <th>
                    Date
                </th>
                <th>
                   Gender
                </th>
                <th>
                   Email
                </th>
                <th>
                   Phone No
                </th>
                <th>
                  Date Join
                </th>
                <th>
                    Department
                </th>
                <th>
                    Designation
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in EmployeeList)
            {
                <tr>
                    <td>
                        @item.empName
                    </td>
                    <td>
                        @item.date
                    </td>
                    <td>
                        @item.Gender
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.datejoin
                    </td>
                    <td>
                        @item.dept
                    </td>
                    <td>
                        @item.designationn
                    </td>
                    <td>
                        <a href="/Edit/@item.empID">Edit</a> |
                        <a href="/Details/@item.empID">Details</a> |
                        <a href="/Delete/@item.empID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    // Assuming you have a property named EmployeeList in the code-behind
    private List<employe> EmployeeList { get; set; } = new List<employe>();
}

